Importamos las librerías necesarias

In [1]:
import pandas as pd
import json

In [15]:
with open('source/data_wiki.json', 'r') as f:   ## Cargamos el fichero json output del spyder
    data = json.load(f)
    print("Número de registros contenidos en el fichero json: {}".format(len(data)))

Número de registros contenidos en el fichero json: 5949

In [16]:
moviesData = []
moviesMetadata = []
castData = []

# iteramos sobre los datos y separamos la información en tres tablas principales:

for e,i in enumerate(data):
    keys = list(data[e].keys())
    if 'title' in keys:
        moviesData.append(data[e])
        #data.pop(e)
    elif 'movie' in keys:
        moviesMetadata.append(data[e])
    elif 'name' in keys:
        castData.append(data[e])

In [17]:
### Guardamos la información en los diferentes ficheros CSV. 

df_movies = pd.DataFrame(moviesData)
df_movies.to_csv("dataset/df_movies.csv",sep = "|", index=False)
print("Total Registros de películas: {}".format(df_movies.shape[0]))


df_metamovies = pd.DataFrame(moviesMetadata)
df_metamovies.to_csv("dataset/df_metamovies.csv",sep = "|", index=False)
print("Total Registros de información extra de las películas: {}".format(df_metamovies.shape[0]))

df_castData = pd.DataFrame(castData)
df_castData.to_csv("dataset/df_castData.csv",sep = "|", index=False)
print("Total Registros del cast de las películas: {}".format(df_castData.shape[0]))

Total Registros de películas: 1348
Total Registros de información extra de las películas: 1346
Total Registros del cast de las películas: 3255

In [18]:
df_movies.sample(3)

,title,year,best movie,awards,nominations,linkMovie
1229,Spawn of the North,1938,False,0 (1),0\n,/wiki/Spawn_of_the_North
1212,Since You Went Away,1944,False,1,9\n,/wiki/Since_You_Went_Away
1220,Some Like It Hot,1959,False,1,6\n,/wiki/Some_Like_It_Hot

In [21]:
df_movies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1348 entries, 0 to 1347
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   title        1347 non-null   object
 1   year         1346 non-null   object
 2   best movie   1348 non-null   bool
 3   awards       1347 non-null   object
 4   nominations  1347 non-null   object
 5   linkMovie    1348 non-null   object
dtypes: bool(1), object(5)
memory usage: 54.1+ KB

In [19]:
df_metamovies.sample(3)

,movie,link,documentary,Directed,Screenplay,Starring,Produced,Cinematography,Edited,Music,Production,Distributed,Release date,Running time,Countr,Language,Budget,Box office
377,The Fugitive,https://en.wikipedia.org/wiki/The_Fugitive_(19...,False,[Andrew Davis],"[Jeb Stuart, David Twohy]","[Harrison Ford, Tommy Lee Jones, Sela Ward, Jo...",[Arnold Kopelson],[Michael Chapman],"[Don Brochu, David Finfer, Dean Goodhill, Dov ...",[James Newton Howard],[Kopelson Entertainment],[Warner Bros.],"[July 29, 1993, August 6, 1993]",[130 minutes],[United States],[English],[$44 million],[$368.9 million]
1342,The Yearling,https://en.wikipedia.org/wiki/The_Yearling_(19...,False,[Clarence Brown],[Paul Osborn],[Gregory Peck],[Sidney Franklin],[Arthur Arling],[Harold F. Kress],[Herbert Stothart],[Metro-Goldwyn-Mayer],"[Loew's, Inc.]","[December 18, 1946]",[128 minutes],[United States],[English],"[$3,883,000]","[$7,599,000]"
198,The Queen,https://en.wikipedia.org/wiki/The_Queen_(2006_...,False,[Stephen Frears],[],"[Helen Mirren, Michael Sheen, James Cromwell, ...","[Andy Harries, Christine Langan, Tracey Seaward]",[Affonso Beato],[Lucia Zucchetti],[Alexandre Desplat],"[Pathé Renn Production, Granada Productions, B...","[Pathé Distribution (United Kingdom, France an...","[2 September 2006, 15 September 2006, 18 Octob...",[103 minutes],"[United Kingdom, France, Italy]",[English],[$15 million],[$123.5 million]

In [20]:
df_castData.sample(3)

,name,female,birthdate,birthplace,link
1613,Maximilian Schell,False,1930-12-08,"[Vienna, , , Austria]",https://en.wikipedia.org/wiki/Maximilian_Schell
1178,Kathy Burke,True,1964-06-13,"[London, , England]",https://en.wikipedia.org/wiki/Kathy_Burke
448,Til Schweiger,False,1963-12-19,"[Freiburg, , , West Germany]",https://en.wikipedia.org/wiki/Til_Schweiger